.card{
    border:none;
    margin-bottom: 12px;
    height:18rem;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.delete{
    color:rgb(212, 65, 65);
}
.title{
   font-size:16px !important;
   font-weight: 500 !important;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 1;
   overflow: hidden;
}
.price{
     font-size:14px !important;
}