.sidebar{
    width:150px;
    height:91vh;
    background-color: lightcyan; 
    position:fixed;
    left:0;
    z-index: 999;
}
li{
    padding:.5rem 2rem;
    margin:.4rem 0;
    cursor: pointer;
    list-style: none;

}

 span{
    margin-left:1rem;
    font-size: 16px;
    font-weight: 500;
} 
li:hover{
    background-color:rgb(131, 201, 201) ;
} 